<div id="conteneur">
  <div id="carrousel">

    <div id="slide1" class="slide">
      <div class="photos">
        <%= image_tag "assiette2.jpg", alt: "Truc vert" %>
      </div>
      <div class="title">
        Truc vert d'Arcturus
      </div>
    </div>

    <div id="slide2" class="slide">
      <div class="photos">
        <%= image_tag "chamallow.jpg", alt: "chamallow" %>
      </div>
      <div class="title">
        Chamoldu de Petok
      </div>
    </div>

    <div id="slide3" class="slide">
      <div class="photos">
        <%= image_tag "gloubi1.jpg", alt: "gloubiboulga" %>
      </div>
      <div class="title">
        Gloubiboulga
      </div>
    </div>

    <div id="slide4" class="slide">
      <div class="photos">
        <%= image_tag "images.jpg", alt: "truc à manger" %>
      </div>
      <div class="title">
        Fleur de Zorglub confite sur lit de Bilbil
      </div>
    </div>

    <div id="next">
      <%= image_tag "next.png", width: 25, alt: "Next" %>
    </div>

    <div id="previous">
      <%= image_tag "previous.png", width: 25, alt: "Previous" %>
    </div>

  </div> <!-- fin de Carrousel -->

</div> <!-- find Conteneur -->
